body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.red {
  color: red;
}

.none {
  display: none;
}

.flex {
  display: flex !important;
}

.block {
  display: block;
}

.cardHeader {
  background: purple;
  font-size: 1.5rem;
  color: white !important;
  padding: 11px !important;
  height: 70px;
  display: flex;
  align-items: center;
}

#timeSlotInput {
  min-width: 70px !important;
  width: fit-content;
}

.hasTextBlack {
  color: #000 !important;
}

.noLoginText {
  text-align: center;
  margin-top: 20px !important;
}

.appointmentContainer {
  padding: 20px;
  margin: 30px 15px;
}